@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Quicksand:400,500,600,700&display=swap');

* {
  box-sizing: content-box;
  // overflow: scroll;
}

body {
  font-family: 'Quicksand', sans-serif;
}

main {
  background-image: url("https://res.cloudinary.com/dyiugkn4y/image/upload/v1571671166/GA%20Pix/SEI/background-image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.login-in-page {
  overflow: hidden;
}

// ******SIGN IN SECTION****** //
.sign_in_div {
  height: 100px;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 39px;
  margin-right: 600px;
  margin-top: 15px;
  text-align: right;
}

// SIGN IN FORM
#sign-in {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 500%;
  margin-right: 30px;
}

#icon-mail {
  margin-left: -400px;
  margin-top: 30px;
  padding-right: 10px;
}

#icon-lock {
  margin-top: 30px;
  padding-right: 10px;
}

.form-control {
  background-color: Transparent;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 25px;
  margin-right: 20px;
  outline: none;
  width: 150px;
}

#enter-password-input {
  margin-right: 30px;
}

#btnSignIn {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  margin-top: 25px;
  margin-left: -20px;
  margin-right: -30px;
  width: 100px;
}

#btnSignIn:hover {
  background-color: #343a40;
  color: white;
}

// ******SIGN UP SECTION****** //
.sign_up_div {
  height: 400px;
  text-align: center;
  width: 500px;
  margin-top: 100px;
  margin-left: 300px;
}

.sign-up-header {
  margin-top: 30px;
  margin-left: 95px;
}

// SIGN UP FORM
#sign-up {
  margin-top: 20px;
  margin-left: 170px;
}

.form-group-passwords {
  margin-top: -50px;
}

#icon-mail-for-signup {
  margin-right: 300px;
  margin-bottom: -110px;
}

#icon-lock-for-signup {
  margin: 0 500px -50px 0;
}

#icon-lock-for-signup2 {
  margin: 0 500px -200px 0;
}

.input-field {
  margin: 0 0 10px 50px;
}

#btnSignUp {
  background-color: Transparent;
  color: black;
  margin-bottom: -80px;
  margin-right: 80px;
}

#btnSignUp:hover {
  background-color: #343a40;
  color: white;
}

.tickets-header {
  margin-right: 35%;
}

span {
  font-size: 60px;
  font-style: italic;
}

.main-paragraph {
  font-size: 20px;
  line-height: 1.6;
  // text-align: center;
}

.main-paragraph2 {
  font-size: 20px;
  line-height: 1.6;
  // text-align: center;
  margin-top: -36px;
}

// ******CREATE TICKET SECTION****** //
.create_ticket_div {
  // margin-top: 30px;
  // margin-left: 95px;
}

.create-ticket-header {
  margin-right: 420px;
}

// CREATE TICKET FORM
#create-ticket {
  margin: 40px -10px 0px 50px;
}

#btn-create-ticket {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  width: 150px;
}

#btn-create-ticket:hover {
  background-color: #343a40;
  color: white;
}

// ******GET TICKET SECTION****** //

// GET TICKET FORM
#btn-get-tickets {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  width: 150px;
}

#btn-get-tickets:hover {
  background-color: #343a40;
  color: white;
}

// ******UPDATE TICKET SECTION****** //

// UPDATE TICKET FORM
#btn-update-ticket {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  margin-top: 20px;
  width: 150px;
}

#btn-update-ticket:hover {
  background-color: #343a40;
  color: white;
}

// ******REMOVE TICKET SECTION****** //

// REMOVE TICKET FORM
#btn-remove-ticket {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  margin-top: 20px;
  width: 150px;
}

#btn-remove-ticket:hover {
  background-color: #343a40;
  color: white;
}


// ******CHANGE PASSWORD SECTION****** //
.change_password_div {
  height: 400px;
  text-align: center;
  width: 500px;
  margin-top: 100px;
  margin-left: 450px;
}

.change-password-header {
  margin-top: 30px;
  margin-left: -10px;
}

// CHANGE PASSWORD FORM
#change-password {
  margin-top: 20px;
  margin-left: 170px;
}

#icon-lock-op {
  margin: 0 500px -60px -40px;
}

#icon-lock-np {
  margin: 0 500px -60px -40px;
}

#btn-change-password {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  height: 25px;
  margin-left: -160px;
  width: 150px;
}

#btn-change-password:hover {
  background-color: #343a40;
  color: white;
}

#btn-sign-out {
  background-color: Transparent;
  border-radius: 5px;
  color: black;
  margin: 0 0 0 -30px;
  width: 100px;
}

#btn-sign-out:hover {
  background-color: #343a40;
  color: white;
}

footer {
  font-size: 20px;
  height: 100px;
  margin-top: 50px;
}

.success {
  color: green;
  font-size: 25px;
}

.failure {
  color: red;
  font-size: 25px;
}
